# https://laracasts.com/discuss/channels/laravel/logging-single-vs-daily-in-laravel-57
# https://stackoverflow.com/questions/35587239/laravel-log-file-based-on-date

APP_NAME=shoogle-backend
APP_ENV=local
APP_KEY=base64:qilmEBdB8RUi51Mqg0N0PZ8MoNhJ65SecVeAlTUiFkw=
APP_DEBUG=true
APP_URL=http://localhost:8080DB_CONNECTION=mysql

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=shoogle_backend
DB_USERNAME=shoogle_backend
DB_PASSWORD=123qwe+++

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=e09bb99a5e5884
MAIL_PASSWORD=c42eeda95c672b
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=info@shoogle.io
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TEST_USER_NAME=testuser
TEST_USER_EMAIL=testuser@gmail.com
TEST_USER_PASSWORD=5fqcAtsY

SUPER_ADMIN_NAME=superadmin
SUPER_ADMIN_EMAIL=superadmin@gmail.com
SUPER_ADMIN_PASSWORD=uoNEGms4

ADMIN_NAME=admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=wy9dZEFs

# For docker-compose.yml
MYSQL_ROOT_PASSWORD=123qwe+++

INVITE_EMAIL_FROM="info@shoogle.io"
INVITE_SUBJECT="We invite you to the system shoogle."

JWT_SECRET=2usKVe7OlLZJbT2L1HJDAUA5gfNSW6faNCHC8oYVC5ufgXDwcRHqtxjQysohdhlF

REGISTER_WORKER_ROUTES=true

PASSWORD_RECOVERY_EMAIL_FROM="info@shoogle.io"
PASSWORD_RECOVERY_SUBJECT="Password recovery"

NEW_COMPANY_EMAIL_FROM="info@shoogle.io"
NEW_COMPANY_SUBJECT="You were invited to a new company."

ABUSE_COMPANY_SUBJECT="Complaint received!"
