// Responsive
$mobileMax: 679px;
$mobileBig: 680px;

// Mobile Big
@media (max-width: $mobileMax) {
}
// Mobile Big
@media (min-width: $mobileBig) {
}

// Font-size
// $font-size: 18px;
// $font-size-title: 28px;
// $font-size-description: 28px;
// $font-size-h1: 60px;

$font-size: 18px;
$font-size-title: 22px;
$font-size-description: 27px;
$font-size-h1: 48px;

$font-size-Min: 9px;
$font-size-title-Min: 16px;
$font-size-description-Min: 14px;
$font-size-h1-Min: 30px;

// Color
$color-theme: #173f5f;
$color-theme-bg-color: #ffce01;
$color-footer-bg-color: #258ee5;
