body {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  background-color: #edf2f7 !important;
}
.footer {
  text-align: center;
  padding-top: 38px;
  color: $color-footer;

  // @media (max-width: $mobileMax) {
  //   padding-top: 19px;
  // }

  .f-text {
    margin-bottom: 35px;
    line-height: 24px;

    // @media (max-width: $mobileMax) {
    //   margin-bottom: 17px;
    //   line-height: 12px;
    // }

    a {
      text-decoration: underline;
      color: $color-footer;
    }
  }
  .f-social {
    text-align: center;

    a {
      display: inline-block;
      margin: 0 18px;

      // @media (max-width: $mobileMax) {
      //   margin: 0 9px;
      // }
    }

    .fb {
      img {
        width: 11px;

        // @media (max-width: $mobileMax) {
        //   width: 5px;
        // }
      }
    }
    .tw {
      img {
        width: 23px;

        // @media (max-width: $mobileMax) {
        //   width: 11px;
        // }
      }
    }
    .insta {
      img {
        width: 23px;

        // @media (max-width: $mobileMax) {
        //   width: 11px;
        // }
      }
    }
  }
}
