html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
body * {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size;

  @media (max-width: $mobileMax) {
    font-size: $font-size-Min;
  }
}
.section {
  margin: auto;

  width: 600px;
  min-width: 600px;

  @media (max-width: $mobileMax) {
    width: 100%;
    min-width: 300px;
  }
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 100%;
}

h1 {
  text-align: left;
  font-weight: 800;
  font-size: $font-size-h1;

  @media (max-width: $mobileMax) {
    font-size: $font-size-h1-Min;
  }
}

h2 {
  text-align: left;
  font-weight: 400;
  color: $color-theme;

  font-size: $font-size-title;

  @media (max-width: $mobileMax) {
    font-size: $font-size-title-Min;
  }
}

.header {
  overflow: hidden;
  background-color: #fff;

  height: 108px;
  padding-right: 20px;

  @media (max-width: $mobileMax) {
    height: 54px;
    padding-right: 10px;
  }

  .logo {
    float: left;
    text-align: left;

    width: 96px;
    margin-top: 10px;

    @media (max-width: $mobileMax) {
      margin-top: 5px;
      width: 48px;
    }

    a {
      display: block;

      img {
        width: 100%;
      }
    }
  }
  .social {
    float: right;
    text-align: right;

    padding-top: 56px;

    @media (max-width: $mobileMax) {
      padding-top: 28px;
    }

    a {
      display: inline-block;

      width: 40px;
      margin-left: 26px;

      @media (max-width: $mobileMax) {
        width: 20px;
        margin-left: 13px;
      }

      img {
        width: 100%;
      }
    }
  }
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
  height: 520px;
  background-position: 50% 80%;

  @media (max-width: $mobileMax) {
    height: 260px;
    background-position: 50% 100%;
  }

  .text {
    float: left;
    // width: 300px;
    // padding-left: 36px;
    width: 336px;
    padding-left: 10px;
    padding-top: 48px;

    @media (max-width: $mobileMax) {
      // width: 150px;
      padding-left: 18px;
      width: 168px;
      // padding-left: 5px;
      padding-top: 24px;
    }

    .title {
      font-weight: 800;
      color: #fff;
      font-size: $font-size-h1;

      @media (max-width: $mobileMax) {
        font-size: $font-size-h1-Min;
      }
    }

    .description {
      color: #fff;
      font-size: $font-size-description;

      @media (max-width: $mobileMax) {
        font-size: $font-size-description-Min;
      }
    }
  }

  .image {
    float: right;
    // width: 260px;
    width: 234px;
    padding-top: 88px;

    @media (max-width: $mobileMax) {
      // width: 130px;
      width: 117px;
      padding-top: 44px;
    }

    img {
      width: 234px;

      @media (max-width: $mobileMax) {
        width: 117px;
      }
    }
  }
}

.list {
  background-color: $color-theme-bg-color;
  overflow: hidden;

  padding-top: 24px;
  padding-left: 24px;
  height: 324px;

  @media (max-width: $mobileMax) {
    padding-top: 12px;
    padding-left: 12px;
    // height: 162px;
    min-height: 232px;
    height: auto;
  }

  h2 {
    color: $color-theme;
    margin-bottom: 44px;

    @media (max-width: $mobileMax) {
      margin-bottom: 22px;
      padding-left: 6px;
    }
  }
  .columns {
    overflow: hidden;

    .item {
      float: left;
      width: 30%;
      margin: 1%;
      @media (max-width: $mobileMax) {
        margin-bottom: 20px;
      }

      .ico {
        text-align: center;
        height: 64px;
        margin-bottom: 26px;
        padding-right: 40px;

        @media (max-width: $mobileMax) {
          height: 32px;
          min-height: 32px; // fix for list issue
          margin-bottom: 13px;
          padding-right: 20px;
        }

        &.plus {
          img {
            width: 64px;

            @media (max-width: $mobileMax) {
              width: 32px;
            }
          }
        }
        &.list {
          padding-top: 6px;

          @media (max-width: $mobileMax) {
            padding-top: 3px;
          }

          img {
            width: 52px;

            @media (max-width: $mobileMax) {
              width: 26px;
            }
          }
        }
        &.envelop {
          width: 6px;

          @media (max-width: $mobileMax) {
            padding-top: 3px;
          }

          img {
            width: 52px;

            @media (max-width: $mobileMax) {
              width: 26px;
            }
          }
        }
      }
      .text {
        color: $color-theme;
      }
    }
  }
}

.footer {
  text-align: center;
  background-color: $color-footer-bg-color;
  overflow: hidden;

  height: 250px;
  padding-top: 48px;

  @media (max-width: $mobileMax) {
    height: 125px;
    padding-top: 24px;
  }

  h2 {
    color: #fff;
    font-weight: 700;
    text-align: center;

    margin-bottom: 30px;

    @media (max-width: $mobileMax) {
      margin-bottom: 15px;
    }
  }
  .app-row {
    overflow: hidden;
    text-align: center;
    margin: auto;

    width: 430px;

    @media (max-width: $mobileMax) {
      width: 215px;
    }

    .app-store {
      float: left;

      width: 200px;

      @media (max-width: $mobileMax) {
        width: 100px;
      }

      img {
        width: 100%;
      }
    }

    .google-play {
      float: right;
      width: 200px;

      @media (max-width: $mobileMax) {
        width: 100px;
      }
      img {
        width: 100%;
      }
    }
  }
}
